<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">
  <div class="page-header pt-4 pb-5">
    <div class="container-lg">
      <div class="text-center">
        <ul>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="/" class="green-text">About Me</a>
          </li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="/walking/" class="green-text">Walking</a>
          </li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="/mathematics/" class="green-text">Mathematics</a>
          </li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="/quantitative-finance/" class="green-text">Quantitative Finance</a>
          </li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="/donate/" class="green-text">Donate</a>
          </li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3">
            <a href="/#contact-a-human" class="green-text">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <!-- .full-width here gets closed on home.html layout -->
